@page
@model DFI.FaultReporting.Admin.Pages.Admin.StaffAdmin.DetailsModel

@{
    ViewData["Title"] = "Staff details";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Details of staff member</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Prefix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Prefix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.AccountLocked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.AccountLocked)
        </dd>
        @if ((bool)Model.Staff.AccountLocked)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Staff.AccountLockedEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Staff.AccountLockedEnd)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.InputBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.InputBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.InputOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.InputOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Active)
        </dd>
    </dl>
    <div class="btn-group">
        <a asp-page="./Index" class="btn btn-lg btn-outline-secondary"><i class="fa-regular fa-circle-left"></i> Back</a>
        &nbsp;
        <a asp-page="./Edit" class="btn btn-outline-primary btn-lg" asp-route-id="@Model.Staff.ID"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
    </div>
    <br />
</div>