@page
@model DFI.FaultReporting.Admin.Pages.Admin.FaultStatusAdmin.IndexModel

@{
    ViewData["Title"] = "Fault status admin";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>View and manage fault statuses</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Fault status
                            </th>
                            <th>
                                Input details
                            </th>
                            <th class="text-center">Details</th>
                            <th class="text-center">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var faultStatus in Model.PagedFaultStatuses)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => faultStatus.FaultStatusDescription)
                                </td>
                                <td>
                                    <strong>Active:</strong>
                                    <br />
                                    @if (faultStatus.Active)
                                    {
                                        <span class="badge bg-success">@faultStatus.Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">@faultStatus.Active</span>
                                    }
                                    <br />
                                    <br />
                                    <strong>Input:</strong>
                                    <br />
                                    @Html.DisplayFor(modelItem => faultStatus.InputBy)
                                    <br />
                                    @Html.DisplayFor(modelItem => faultStatus.InputOn)
                                </td>
                                <td class="text-center">
                                    <a asp-page="./Details" asp-route-id="@faultStatus.ID" class="btn btn-outline-primary btn-lg"><i class="fa-solid fa-magnifying-glass-plus"></i></a>
                                </td>
                                <td class="text-center">
                                    <a asp-page="./Edit" asp-route-id="@faultStatus.ID" class="btn btn-outline-primary btn-lg"><i class="fa-solid fa-pen-to-square"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @{
                var prevDisabled = !Model.Pager.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.Pager.HasNextPage ? "disabled" : "";
            }
            <div>
                <ul class="pagination text-center">
                    <li>
                        <a asp-page-handler="Paging" asp-route-CurrentPage="1"
                           class="btn btn-outline-primary btn-sm @prevDisabled"
                           aria-label="First page button" style="font-size: 1em !important;">
                            <span class="fa fa-chevron-left"></span><span class="fa fa-chevron-left"></span> First
                        </a>&nbsp;
                    </li>
                    <li>
                        <a asp-page-handler="Paging" asp-route-CurrentPage="@(Model.Pager.CurrentPage -1)"
                           class="btn btn-outline-primary btn-sm @prevDisabled"
                           aria-label="Previous page button" style="font-size: 1em !important;">
                            <span class="fa fa-chevron-left"></span> Prev
                        </a>
                    </li>
                    <li>
                        &nbsp; Page @(Model.Pager.CurrentPage) of @(Model.Pager.TotalPages == 0 ? 1 : Model.Pager.TotalPages)  &nbsp;
                    </li>
                    <li>
                        <a asp-page-handler="Paging" asp-route-CurrentPage="@(Model.Pager.CurrentPage + 1)"
                           class="btn btn-outline-primary btn-sm @nextDisabled"
                           aria-label="Next page button"
                           style="font-size: 1em !important;">
                            Next <span class="fa fa-chevron-right"></span>
                        </a>&nbsp;
                    </li>
                    <li>
                        <a asp-page-handler="Paging" asp-route-CurrentPage="@Model.Pager.TotalPages"
                           class="btn btn-outline-primary btn-sm @nextDisabled" aria-label="Last page button"
                           style="font-size: 1em !important;">
                            Last <span class="fa fa-chevron-right"></span><span class="fa fa-chevron-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="small-tile">
                <a class="nav-link" aria-label="New fault status link" title="New fault status" asp-page="./Create"><i class="fa-solid fa-circle-plus"></i> Add new fault status</a>
            </div>
        </div>
    </div>
</div>